OscController/distribution/

*.DS_Store
*.svn-base
*.class

*.svn

OscController/examples/Hello/Hello.pde

OscController/distribution/OscController-1/examples/Hello/Hello.pde

OscController/src/template/library/HelloLibrary.java

